.aboutSchoolWrapper {
  padding: 50px;
  color: grey;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.schoolValues {
  width: 50%;
}

.schoolValueHeading {
  font-size: 34px;
  color: #52be80;
}

.valueOptions {
  margin-top: 20px;
}

.valueOption {
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.valueOptionBtn {
  display: flex;
  align-items: center;
  width: 50%;
  cursor: pointer;
  background-color: #52be80;
  color: white;
  padding: 20px;

  justify-content: space-between;
}

.valueOptionBtn > p {
  /* margin-right: 20px; */
  font-weight: 800;
  font-size: 18px;
}

.valueBtnIcon {
  font-size: 24px;
}

.valueOptionIcon {
  margin-right: 20px;
}

.aboutSchoolInfo {
  width: 50%;
}

.aboutSchoolInfoWrapper {
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #d3d3d3;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
  -moz-transition: background 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
  -ms-transition: background 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
  -o-transition: background 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
}

.aboutSchoolInfoWrapper:hover {
  background-color: #f4eeee;
  color: #52be80;
}

.wrapperContainer {
  display: flex;
  align-items: center;
  padding: 20px 5px;
}

.iconContainer {
  background-color: #52be80;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.aboutSchoolInfoIcon {
  /* margin-right: 20px; */
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .aboutSchoolWrapper {
    flex-direction: column;
    padding: 50px 0;
  }

  .schoolValues {
    width: 100%;
  }

  .schoolValueHeading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .schoolValueDetails {
    text-align: center;
    padding: 0 50px;
  }

  .valueOptionIcon {
    font-size: 12px;
  }

  .valueOptions {
    margin-left: 50px;
    margin-right: 50px;
  }

  .valueOption {
    font-size: 14px;
  }

  .valueOptionBtn {
    width: 90%;
    /* margin: 0 auto; */
  }

  .valueOptionBtn > p {
    font-size: 14px;
  }

  .valueBtnIcon {
    font-size: 14px;
  }

  .iconContainer {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .wrapperContainer {
    text-align: center;
    flex-direction: column;
    padding: 20px 0px;
  }

  .aboutSchoolInfo {
    width: 100%;
  }

  .aboutSchoolInfoWrapper {
    border: none;
  }

  .aboutSchoolInfoDetails {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .aboutSchoolWrapper {
    flex-direction: column;
  }
  .schoolValues {
    width: 100%;
  }

  .valueOptionBtn {
    width: 100%;
    padding: 0;
    height: 50px;
  }

  .valueBtnIcon {
    padding-right: 20px;
  }

  .valueBtnDetails {
    padding-left: 20px;
  }

  .aboutSchoolInfo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
}
